.fighter-preview___root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;

}

.fighter-preview___info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgb(123, 156, 31);
  opacity: 0.8;
}

.fighter-preview___characteristic {
  margin: 5px;
  padding: 3px;
}